/*-------------------------*\
    GLOBAL
\*-------------------------*/

body {
    margin: 0;
    padding: 0;
}
:root {
    font-size: calc(1rem + 0.25vw);
    --dark-color: #2a2726;
    --light-color: #f2efeb;
    --accent-color: #cad2d2;
    --element-shadow: 1px 1px 5px rgba(0 ,0 ,0 , .3);
    --max-characters: 70ch;
    --main-font: 'Roboto', sans-serif;
    --accent-font: 'Noto Sans', sans-serif;
}
* {
    font-family: var(--main-font);
    max-width: var(--max-characters);
    color: var(--dark-color);
    background-color: var(--light-color);
}
html,
body,
div,
header,
nav,
main,
img,
section,
footer {
  max-width: 100%;
}

/*-------------------------*\
    STRUCTURE
\*-------------------------*/

nav {
    height: 5vh;
    min-height: 80px;
    max-height: 120px;
    width: 100vw;
    margin: 0;
    padding: 0px;
}
footer {
    margin-bottom: 0;
}
.main-content {
    width: 100%;
    margin: auto;
    text-align: center;
}
.main-content img {
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin: auto;
}

/*-------------------------*\
    AESTHETICS
\*-------------------------*/

nav, nav * {
    background-color: var(--accent-color);
}
footer, footer * {
    background-color: var(--accent-color);
}
.main-content img {
    box-shadow: var(--element-shadow);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--accent-font);
}
h1 {
    font-size: calc(1.5rem + 0.5vw);
    font-weight: 700;
}
p {
    font-family: var(--main-font);
    line-height: 2.85ex;
    font-weight: 300;
}
p:first-letter {
    color: #7e8082;
    padding: 0 .3rem;
    margin: 0 .3rem 0 0;
    border: 2px solid;
    border-radius: 2px;
  
    font-size: 4rem;
    float: left;
    line-height: 2ex;
}

/*-------------------------*\
    CASCADE
\*-------------------------*/

.description_header {
    margin: 2.5ex auto;
}
.description_text {
    text-align: left;
    margin: 5ex auto;
}
.disclaimer {
    font-family: var(--main-font);
    font-size: calc(.4rem + .2vw);
    color: #f2f2f2;
    padding: 5ex;
    font-style: italic;
    max-width: 1280px;
    margin: auto;
}