/*-------------------------*\
    GLOBAL
\*-------------------------*/

body {
    margin: 0;
    padding: 0;
}
:root {
    --dark-bg-color: #242524;
    --element-shadow: 1px 1px 5px rgba(0 ,0 ,0 , .2);
}

/*-------------------------*\
    STRUCTURE
\*-------------------------*/

nav {
    height: 5vh;
    min-height: 80px;
    max-height: 120px;
    width: 100vw;
    margin: 0;
    padding: 0px;
}
footer {
    margin-bottom: 0;
}
.main-content {
    width: 100%;
    margin: auto;
    text-align: center;
}
.main-content img {
    margin: 0 auto;
}

/*-------------------------*\
    AESTHETICS
\*-------------------------*/

nav {
    background-color: var(--dark-bg-color);
}
footer {
    background-color: var(--dark-bg-color);
}
.main-content img {
    box-shadow: var(--element-shadow);
}